@model IEnumerable<Portfoy.Models.PostItemViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Index</h2>
<div class="row row-cols-1 row-cols-md-3 g-3">
    @foreach (var post in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img src="@post.CoverImage" class="card-img-top" alt="@post.Title" />
                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <h6 class="text-muted">@post.AuthorName</h6>
                    <p class="card-text">@post.Content</p>
                    <h6>@post.CategoryName</h6>
                    <div>
                        @foreach (var tag in post.Tags)
                        {
                            <span class="badge text-bg-light border shadow-sm">@tag</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

